<div class="row">
	<div class="col-md-6 col-lg-6 col-xl-3">
		<section class="panel">
			<header class="panel-heading bg-primary">
				<div class="panel-heading-icon">
					<i class="fa fa-print"></i>
				</div>
				<h3 class="mt-lg text-center">Номер заявки №562</h3>
			</header>
			<div class="panel-body text-left">
				<h3 class="text-semibold mt-sm text-center">Починить Принтер</h3>

				<div class="panel-body">
					<form class="form-horizontal form-bordered" method="get">


						<div class="form-group">
							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>ФИО</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="Жанна Казбековна" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>
							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>Место работы</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="902 кабинет" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>
							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>Время создания заявки:</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="14:25" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>
							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>Время на задачу</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="20 минут" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>
							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>Время начало выполнения:</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="15:20" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>

							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>Время завершения:</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="15:40" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>
							<label class="col-md-3 control-label" for="inputReadOnly">
								<h4>Статус заявки:</h4>
							</label>
							<div class="col-md-6">
								<input type="text" value="Новая заявка" id="inputReadOnly" class="form-control" readonly="readonly">
							</div>
							<p></p>
						</div>
						<br />
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-success btn-lg btn-block" data-ng-click="authorizedUser()"
						ui-sref="userTaskDetail"><i class="fa fa-save"></i> Выполнил(а)</button>
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-warning btn-lg btn-block" ui-sref="userTaskDetail"><i class="fa fa-stop"></i>Приостановить</button>
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-danger btn-lg btn-block" ui-sref="userTaskDetail"><i class="fa fa-ban"></i> Отмена</button>
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" data-ng-click="authorizedUser()"
						ui-sref="userTaskDetail"><i class="fa fa-clock-o"></i> Отложить</button>
					</form>
				</div>
			</div>
		</section>
	</div>

</div>

